# Lesson 1: Variables and Data Types

---

## Learning Objectives:
- Understand what a variable is
- Learn Python's main data types
- Write your first Python code
- Work with numbers and text

---
## Section 1: Your First Python Code 

### Hello World - A Programming Tradition!

The `print()` function displays anything you give it on the screen.

In [ ]:
# First Python code!

**Note:** You can use single quotes `'` or double quotes `"` - they work the same way:

### Quick Exercise:

In the cell below, write three lines of code that:
1. Print your name
2. Print your city
3. Print a sentence about yourself

In [ ]:
# Write your code here:

---
## Section 2: Variables - Storing Data

### What is a Variable?

A variable is like a **box** where you can store information:

```
┌─────────────┐
│   age = 25  │  ← A box named "age" containing the number 25
└─────────────┘
```

In [ ]:
# Creating variables


# Print variables

### Variable Naming Rules:

**Correct:**
- `name`, `first_name`, `age2`, `_temp`

**Wrong:**
- `2name` (cannot start with a number)
- `first-name` (cannot use dashes)
- `my name` (cannot have spaces)

In [ ]:
# Python is case-sensitive!

### Variables Can Change:

### Multiple Variables in One Line:

In [ ]:
# Same value for all


# Different values

### Exercise:

In the cell below:
1. Create a variable called `my_name` with your name
2. Create a variable called `my_age` with your age
3. Create a variable called `my_city` with your city
4. Print all of them

In [ ]:
# Write your code here:

---
## Section 2.5: Basic Operations

Now that you know variables, let's do things with them!

### Math Operations

Python can work like a calculator:

In [ ]:
# Basic math operations

**Real Example - Calculate Average:**

### String Operations

You can manipulate text:

In [ ]:
# Combining string operations

### Comparison Operators

Compare values and get True or False:

In [ ]:
# Real example

### Quick Practice:

Calculate and format:
1. Average of three scores: 85, 92, 78
2. Format as currency: $1234.5
3. Clean a messy name: "  MOHAMMAD REZAEI  "

In [ ]:
# Your code here:

---
## Section 3: Main Data Types

In Python, data comes in different types. Let's learn the most important ones:

### 1. Integers (int)

Whole numbers without decimals:

**Operations with Integers:**

### 2. Floating Point Numbers (float)

Numbers with decimal points:

**Important Note:** In Python, use a **period** (.) for decimals, not a comma!

In [ ]:
# Correct


# Wrong - this creates a tuple!

**Mixing int and float:**

### 3. Strings (str)

Text - anything inside quotes:

**String Operations:**

In [ ]:
# 1. Concatenation (joining strings)

# 2. Repetition


# 3. Length


# 4. Indexing (starts from 0)

**f-strings - Modern Way to Combine Text:**

This is very important! Make sure to learn it:

**f-strings with Calculations:**

### 4. Boolean (bool) - True or False

Only two possible values: `True` or `False`

**Using in Comparisons:**

**Comparison Operators:**

### Data Types Summary:

| Type | Name | Example | Usage |
|------|------|---------|-------|
| `int` | Integer | `25`, `-10`, `1000` | Age, count, year |
| `float` | Float | `3.14`, `175.5` | Height, weight, price |
| `str` | String | `"Ali"`, `'Tehran'` | Name, address, message |
| `bool` | Boolean | `True`, `False` | Status, comparison |

---
## Section 4: Type Conversion

Sometimes you need to convert one data type to another:

### Convert to int - `int()`

In [ ]:
# From float to int

# From string to int

### Convert to float - `float()`

In [ ]:
# From int to float


# From string to float

### Convert to string - `str()`

In [ ]:
# From int to string

# Better with f-string:

### Getting User Input - `input()`

**Important:** `input()` always returns a string!

In [ ]:
# Get name (string)

In [ ]:
# Get age (need to convert to int)

In [ ]:
# Or in one line:

---
## Exercises

Now it's time to practice!

### Exercise 1: Introduce Yourself

Store your information in variables and then write an introduction paragraph using f-strings:

In [ ]:
# Your code here:
first_name = ""    # Fill in your name
last_name = ""
age = 0            # Fill in your age
city = ""          # Fill in your city
job = ""           # Fill in your job

# Write introduction using f-string:
introduction = f"""

"""

print(introduction)

### Exercise 2: Simple Calculator

Get two numbers and perform all mathematical operations on them:

In [ ]:
# Your code here:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

# Print all operations:
# Addition, Subtraction, Multiplication, Division, Power

### Exercise 3: BMI Calculator

BMI = weight (kg) ÷ (height (m))²

**Guide:**
- Less than 18.5: Underweight
- 18.5 - 24.9: Normal
- 25 - 29.9: Overweight
- Over 30: Obese

In [ ]:
# Your code here:
weight = float(input("Enter weight (kg): "))
height = float(input("Enter height (m): "))

# Calculate BMI
# Print result with 2 decimal places (.2f)

### Exercise 4: Unit Conversion

- Kilometers to miles: 1 km = 0.621371 miles
- Celsius to Fahrenheit: F = C × 9/5 + 32

In [ ]:
# Convert km to miles
km = float(input("Distance in km: "))
# Your code here:

In [ ]:
# Convert Celsius to Fahrenheit
celsius = float(input("Temperature in Celsius: "))
# Your code here:

---
## Lesson 1 Summary

### What We Learned:

**First Python Code:** `print("Hello World!")`

**Variables:** Boxes for storing data
```python
name = "Ali"
age = 25
```

**Data Types:**
- `int` - Integers (whole numbers)
- `float` - Decimal numbers
- `str` - Strings (text)
- `bool` - True/False

**f-strings:** Easy way to combine text and variables
```python
name = "Ali"
age = 25
print(f"I am {name}, {age} years old")
```

**Type Conversion:**
```python
int("25")      # string → integer
float("3.14")  # string → float
str(25)        # number → string
```

**Getting Input:**
```python
name = input("Your name: ")
age = int(input("Your age: "))
```

### Important Functions:

| Function | Purpose | Example |
|----------|---------|----------|
| `print()` | Display on screen | `print("Hello")` |
| `type()` | Check data type | `type(25)` → `int` |
| `len()` | String length | `len("Hello")` → `5` |
| `int()` | Convert to int | `int("25")` → `25` |
| `float()` | Convert to float | `float("3.14")` |
| `str()` | Convert to string | `str(25)` → `"25"` |
| `input()` | Get user input | `name = input("Name:")` |

---
## Checklist: Ready for Lesson 2?

Before moving to the next lesson, make sure you can:

- [ ] Create and use variables
- [ ] Understand the difference between int, float, str
- [ ] Write f-strings
- [ ] Get input and convert it to the right type
- [ ] Perform mathematical operations

If you can do all of these, you're ready for **Lesson 2: Lists and Dictionaries**!

---
### Frequently Asked Questions (FAQ)

**Q: Why does my code give an error?**

A: Most common mistakes:
- Forgetting quotes: `print(Hello)` → `print("Hello")`
- Typo: `prnit` → `print`
- Forgetting type conversion: `int(input("Number: "))`

**Q: What's the difference between `=` and `==`?**

A:
```python
x = 10      # = means "assign" (give value)
x == 10     # == means "compare" (is equal?)
```

**Q: How do I write comments?**

A:
```python
# Single line comment

"""
Multi-line
comment
"""

age = 25    # Comment at end of line
```

---
**End of Lesson 1**

**Next Lesson:** Lists and Dictionaries - How to store multiple pieces of data together!